.dutyList{

    overflow-y: scroll;
}

.btc-curr{

    background: url("/Frontend/res/btc-ico-sm.png") no-repeat;
    background-size: contain;
}

.duty > .participants{

    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.duty > .participants > span{
    margin-right: 5px;
}

.task{

    padding-left: 0px !important;

}

.tasks{
    margin-top:10px;
}

.task > .taskHead{

    /* border-radius: 25px 25px 0px 0px; */
    boder: 2px solid #2f71aa;
    background: #2f71aa;
    font-color: #ffffff;
    /*min-height: 30px;*/
}

.task > .taskEmpty{

    background: #d2d5da !important;
}

.task > .taskHead > h3{

    color: #ffffff;
    text-align: center;
}

.task > .taskBody{

    border: 2px solid #2f71aa;
    margin-top: -10px;
    padding: 0px 5px 5px 5px;
}

.task > .taskEmptyBody{
    border: 2px solid #d2d5da !important;
}

.task > .taskTitle{

    font-size: 22;
    margin-right: 5px;
}

.task > .description{

    margin-top:5px;
    margin-bottom:5px;
}

.label-participant{

    margin-left: 2px;
    margin-right: 2px;
}

.label-input {

    font-size: 15px;
}