Backend/src/main/webapp/Frontend/scripts/.module-cache/
Backend/src/main/webapp/Frontend/scripts/main.js
node_modules/
DB/
Backend/src/main/webapp/Frontend/scripts/widgets.js
Backend/src/main/webapp/Frontend/scripts/invite.js
Backend/src/main/webapp/Frontend/scripts/ui.js
Backend/src/main/webapp/Frontend/scripts/index.js
Backend/src/main/webapp/Frontend/scripts/duties.js
Backend/bithack_main.wallet
DB2/